In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 100

In [2]:
propsale9800 = pd.read_csv('propsalesdec_9800_bgs.csv')
propsale9800.head()

,id,meansp9800,minsp9800,maxsp9800,mediansp9800,stddevsp9800,totsp9800,nums9800,mhi99,pir9800,mgr_phi99,mmoc_phi99
0,3.706300e+11,55928.0,33000.0,81000.0,53000.0,18249.266122,391500.0,7.0,23582.0,2.247477,28.6,32.5
1,3.706300e+11,54951.0,6500.0,235000.0,56000.0,42183.800564,3407000.0,62.0,30592.0,1.830544,22.1,16.6
2,3.706300e+11,54818.0,500.0,112000.0,65000.0,28238.049401,1260832.0,23.0,21419.0,3.034689,37.3,16.7
3,3.706300e+11,115095.0,12000.0,240000.0,113000.0,44646.052065,7941564.0,69.0,40208.0,2.810386,28.2,15.0
4,3.706300e+11,43179.0,300.0,192000.0,35000.0,33820.454890,3108959.0,72.0,16328.0,2.143557,27.9,10.0

In [3]:
sr = pd.read_excel('../../../../data/census/LTDB/SeriesReport-20180317143845_33d15e.xlsx',header=1,skiprows=[0,1,2,3,4,5,6,7,8,9])
annual_cpi = sr.Annual
year = sr.Year
cpi_ratio = annual_cpi[year[year == 2017].index[0]]/annual_cpi[year[year == 1999].index[0]]
cpi_ratio

1.4657777777777776

In [4]:
propsale9800['meansp9800a17'] = propsale9800.meansp9800*cpi_ratio
propsale9800['minsp9800a17'] = propsale9800.minsp9800*cpi_ratio
propsale9800['maxsp9800a17'] = propsale9800.maxsp9800*cpi_ratio
propsale9800['mediansp9800a17'] = propsale9800.mediansp9800*cpi_ratio
propsale9800['stddevsp9800a17'] = propsale9800.stddevsp9800*cpi_ratio
propsale9800['totsp9800a17'] = propsale9800.totsp9800*cpi_ratio
propsale9800['mhi99a17'] = propsale9800.mhi99*cpi_ratio

propsale9800cols = ['id','meansp9800','meansp9800a17','minsp9800','minsp9800a17','maxsp9800','maxsp9800a17',
                  'mediansp9800','mediansp9800a17','stddevsp9800','stddevsp9800a17','totsp9800',
                  'totsp9800a17','nums9800','mhi99','mhi99a17','pir9800','mgr_phi99','mmoc_phi99']
propsale9800 = propsale9800[propsale9800cols]
propsale9800.head()

,id,meansp9800,meansp9800a17,minsp9800,minsp9800a17,maxsp9800,maxsp9800a17,mediansp9800,mediansp9800a17,stddevsp9800,stddevsp9800a17,totsp9800,totsp9800a17,nums9800,mhi99,mhi99a17,pir9800,mgr_phi99,mmoc_phi99
0,3.706300e+11,55928.0,81978.019556,33000.0,48370.666667,81000.0,118728.000000,53000.0,77686.222222,18249.266122,26749.368743,391500.0,5.738520e+05,7.0,23582.0,34565.971556,2.247477,28.6,32.5
1,3.706300e+11,54951.0,80545.954667,6500.0,9527.555556,235000.0,344457.777778,56000.0,82083.555556,42183.800564,61832.077449,3407000.0,4.993905e+06,62.0,30592.0,44841.073778,1.830544,22.1,16.6
2,3.706300e+11,54818.0,80351.006222,500.0,732.888889,112000.0,164167.111111,65000.0,95275.555556,28238.049401,41390.705300,1260832.0,1.848100e+06,23.0,21419.0,31395.494222,3.034689,37.3,16.7
3,3.706300e+11,115095.0,168703.693333,12000.0,17589.333333,240000.0,351786.666667,113000.0,165632.888889,44646.052065,65441.190983,7941564.0,1.164057e+07,69.0,40208.0,58935.992889,2.810386,28.2,15.0
4,3.706300e+11,43179.0,63290.818667,300.0,439.733333,192000.0,281429.333333,35000.0,51302.222222,33820.454890,49573.271213,3108959.0,4.557043e+06,72.0,16328.0,23933.219556,2.143557,27.9,10.0

In [5]:
singfam00 = pd.read_csv('singfamhouse_bgs00_2001.csv')
singfam00.head()

,id,mean_sfno2001,tot_sfno2001,num_sfno2001,mean_sfoo2001,tot_sfoo2001,num_sfoo2001,prc_sfno2001
0,370630015021,57271.00,458168.0,8.0,67991.38,3807517.0,56.0,12.50
1,370630003012,61152.13,1895716.0,31.0,87447.70,6383682.0,73.0,29.81
2,370630013011,55766.56,1394164.0,25.0,69002.64,8142311.0,118.0,17.48
3,370630002003,88912.33,533474.0,6.0,121290.93,28018204.0,231.0,2.53
4,370630011001,44186.56,1900022.0,43.0,55505.27,3441327.0,62.0,40.95

In [6]:
decpop00 = pd.read_csv('dec_pop_2000.csv')

colnames = {}

for column in decpop00.columns:
    if column != 'id':
        colnames.update({column:column[0:len(column)-3]+'00'})

decpop00.rename(columns=colnames,inplace=True)


decpop00.head()

,id,pop00,ptwhnl00,ptblknl00,ptnanl00,ptasnl00,ptpanl00,ptothnl00,pt2mnl00,ptlat00
0,370630001011,1089,59.87,34.16,0.00,0.00,0.0,0.0,0.00,5.97
1,370630001012,2062,20.08,65.33,0.34,2.43,0.0,0.0,0.29,11.54
2,370630001021,4462,47.33,31.06,0.47,0.83,0.0,0.0,1.23,19.07
3,370630002001,772,38.99,52.20,0.00,0.00,0.0,0.0,1.94,6.87
4,370630002002,1405,19.00,62.13,0.29,0.50,0.0,0.0,1.92,16.16

In [7]:
bgs00 = pd.merge(propsale9800,decpop00,on='id')
bgs00 = bgs00.merge(singfam00,on='id')
bgs00.to_csv('durham_bgs9800.csv',index=False,float_format='%.2f',na_rep='NaN')
bgs00.head()

,id,meansp9800,meansp9800a17,minsp9800,minsp9800a17,maxsp9800,maxsp9800a17,mediansp9800,mediansp9800a17,stddevsp9800,stddevsp9800a17,totsp9800,totsp9800a17,nums9800,mhi99,mhi99a17,pir9800,mgr_phi99,mmoc_phi99,pop00,ptwhnl00,ptblknl00,ptnanl00,ptasnl00,ptpanl00,ptothnl00,pt2mnl00,ptlat00,mean_sfno2001,tot_sfno2001,num_sfno2001,mean_sfoo2001,tot_sfoo2001,num_sfoo2001,prc_sfno2001
0,3.7063e+11,55928.0,81978.019556,33000.0,48370.666667,81000.0,118728.000000,53000.0,77686.222222,18249.266122,26749.368743,391500.0,5.738520e+05,7.0,23582.0,34565.971556,2.247477,28.6,32.5,3366,23.41,42.25,0.3,6.95,0.0,0.27,2.53,24.30,57271.00,458168.0,8.0,67991.38,3807517.0,56.0,12.50
1,3.7063e+11,54951.0,80545.954667,6500.0,9527.555556,235000.0,344457.777778,56000.0,82083.555556,42183.800564,61832.077449,3407000.0,4.993905e+06,62.0,30592.0,44841.073778,1.830544,22.1,16.6,735,12.79,62.18,0.0,0.00,0.0,0.00,0.00,25.03,61152.13,1895716.0,31.0,87447.70,6383682.0,73.0,29.81
2,3.7063e+11,54818.0,80351.006222,500.0,732.888889,112000.0,164167.111111,65000.0,95275.555556,28238.049401,41390.705300,1260832.0,1.848100e+06,23.0,21419.0,31395.494222,3.034689,37.3,16.7,862,1.51,98.49,0.0,0.00,0.0,0.00,0.00,0.00,55766.56,1394164.0,25.0,69002.64,8142311.0,118.0,17.48
3,3.7063e+11,115095.0,168703.693333,12000.0,17589.333333,240000.0,351786.666667,113000.0,165632.888889,44646.052065,65441.190983,7941564.0,1.164057e+07,69.0,40208.0,58935.992889,2.810386,28.2,15.0,939,52.18,26.41,0.0,5.00,0.0,0.00,0.00,16.40,88912.33,533474.0,6.0,121290.93,28018204.0,231.0,2.53
4,3.7063e+11,43179.0,63290.818667,300.0,439.733333,192000.0,281429.333333,35000.0,51302.222222,33820.454890,49573.271213,3108959.0,4.557043e+06,72.0,16328.0,23933.219556,2.143557,27.9,10.0,2133,5.81,66.81,0.0,2.67,0.0,0.00,0.00,24.71,44186.56,1900022.0,43.0,55505.27,3441327.0,62.0,40.95

In [8]:
f = open('models_bgs9800.py','w')

f.write('class bgs9800(models.Model):\n')

for col in bgs00.columns:
    var = str(bgs00[col].max())
    digits = str(len(var)+1)
    decimal = str(len(var.split('.')))
    isnull = str(bgs00[col].isnull().values.any())
    if col == 'id':
        f.write('   '+col+' = models.TextField(12,primary_key=True)\n')
    else:
        f.write('   '+col+' = models.DecimalField(max_digits='+digits+',decimal_places='+decimal+',null='+isnull+')\n')

f.close()

In [9]:
f = open('serializers_bgs9800.py','w')

f.write('class bgs9800Serializer (serializers.ModelSerializer):\n')
f.write('    class Meta:\n')
f.write('        model = bgs9800\n')
f.write('        fields = (')

for col in bgs00.columns:
    if col == bgs00.columns[len(bgs00.columns)-1]:
        f.write("'"+col+"'")
    else:
        f.write("'"+col+"',")
    
f.write(')\n')
f.close()

In [10]:
f = open('durham_bgs9800.sql','w')

f.write('\copy datahub_be_app_bgs9800(')

for col in bgs00.columns:
    if col == bgs00.columns[len(bgs00.columns)-1]:
        f.write(col)
    else:
        f.write(col+",")
    
f.write(") FROM 'durham_bgs9800.csv' WITH DELIMITER ',' CSV HEADER;\n")
f.write('\n')
f.write('COMMIT;')
f.close()

In [11]:
mapdesc = pd.read_csv('bgs_vuemapmenu.csv',sep='|')
mapdesc.head()

        var                                                       desc
0    meansp                   Mean Sale Price, for Single Family Homes
1     minsp                Minimum Sale Price, for Single Family Homes
2     maxsp                Maximum Sale Price, for Single Family Homes
3  mediansp                 Median Sale Price, for Single Family Homes
4  stddevsp  Standard Deviation of Sale Price, for Single Family Homes

In [12]:
columns = np.array(bgs00.columns)
#column types a17, 9800, 99, 2001, 00
f = open('bgs9800_vuemapmenu.js','w')
for column in columns:
    colyear = column[len(column)-2:]
    if colyear == 'id':
        print('1_'+column)
    elif colyear == '17':
        colyr = column[len(column)-5:len(column)-3]
        if colyr == '99':
            colvar = column[:len(column)-5]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 19"+colyr+
                    ", Adjusted to 2017 Dollars"+
                    "', value: '"+column+"', type: 'bgs'},\n")
        elif colyr == '00':
            colvar = column[:len(column)-7]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+", between 1998 and 2000"+
                    ", Adjusted to 2017 Dollars"+
                    "', value: '"+column+"', type: 'bgs'},\n")
        else:
            print('2_'+colcolumn)
    elif colyear == '00':
        if column[len(column)-4:] == '9800':
            colvar = column[:len(column)-4]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+", between 1998 and 2000"+
                    "', value: '"+column+"', type: 'bgs'},\n")
        else:
            colvar = column[:len(column)-2]
            colyr = column[len(column)-2:]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 20"+colyr+
                    "', value: '"+column+"', type: 'bgs'},\n")   
    elif colyear == '99':
        colvar = column[:len(column)-2]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("        {label: '"+var.desc.to_string(index=False)+", in 19"+colyr+
                "', value: '"+column+"', type: 'bgs'},\n")
    elif colyear == '01':
        colvar = column[:len(column)-4]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        if column == columns[len(columns)-1]:
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 2001"+
                    "', value: '"+column+"', type: 'bgs'}\n")        
        else:
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 2001"+
                    "', value: '"+column+"', type: 'bgs'},\n")
    else:
        print('4_'+column)
            
f.write('\n')

for column in columns:
    colyear = column[len(column)-2:]
    if colyear == 'id':
        print('1_'+column)
    elif colyear == '17':
        colyr = column[len(column)-5:len(column)-3]
        if colyr == '99':
            colvar = column[:len(column)-5]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhambg."+column+")\n")
            f.write("      }\n")                
        elif colyr == '00':
            colvar = column[:len(column)-7]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhambg."+column+")\n")
            f.write("      }\n")
        else:
            print('2_'+colcolumn)
    elif colyear == '00':
        if column[len(column)-4:] == '9800':
            colvar = column[:len(column)-4] 
            var = mapdesc.loc[mapdesc['var'] == colvar]
            if column == columns[1]:
                f.write("      if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")                
            else:
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")

            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
            f.write("      }\n")
        else:
            colvar = column[:len(column)-2]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
            f.write("      }\n")                
    elif colyear == '99':
        colvar = column[:len(column)-2]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
        f.write("        desc = '"+var.desc.to_string(index=False)+
                ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
        f.write("      }\n")        
    elif colyear == '01':
        colvar = column[:len(column)-4]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
        f.write("        desc = '"+var.desc.to_string(index=False)+
                ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
        f.write("      }\n")
    else:
        print('4_'+column)

f.close()

1_id
1_id